
@{
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
<div class="banner row">
    <div class="col-8">
        <h1 style="color: black;">
            Bạn là sinh viên của Huflit? Bạn cần một nơi để kiểm tra kiến thức của bản thân? Đã có Huflit Quiz.
        </h1>
        <p style="font-size: 20px;">
            Huflit Quiz được xây dựng với mục đích cũng cố kiến thức của người dùng. Website sở hữu đa dạng các lĩnh vực cũng như ngân hàng câu hỏi rộng lớn đáp ứng nhu cầu của mọi người. 
            Còn chờ gì mà không bắt đầu thi nhỉ?
        </p>
        <div class="row justify-content-center">
            <div class="col-4">
                <button onclick="location.href = '@Url.Action("Index", "QuizCategory")'"
                        type="button" class="btn btn-primary btn-lg">
                    Bắt đầu thi
                </button>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="row justify-content-center">
            <div class="col-4">
                <img class="logo" src="~/Content/images/logo.png" alt="" width="150px" height="150px">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12" style="text-align: center;">
                <h5 class="website-name">HUFLIT QUIZ</h5>
            </div>
        </div>
    </div>
</div>

<!--Intro 1-->
<div class="intro row">
    <div class="col-5">
        <div>
            <i class="fa fa-terminal fa-3x" aria-hidden="true"></i>
        </div>
        <h3>Đa dạng các lĩnh vực thi</h3>
        <p>
            Huflit Quiz có đầy đủ các lĩnh vực và bộ câu hỏi được random mỗi lần thi.
            Các lĩnh vực sẽ được hiển thị rõ ràng, kèm theo ghi chú như hình bên nhầm mục đích giúp người dùng dễ dàng lựa chọn các lĩnh vực muốn thi.
        </p>
    </div>
    <div class="col-7">
        <img src="~/Content/images/quiz_category.png" alt="">
    </div>
</div>

<!--Intro 2-->
<div class="intro row">
    <div class="col-5">
        <div>
            <i class="fa fa-sort fa-4x" aria-hidden="true"></i>
        </div>
        <h3>Dạng câu hỏi sắp xếp</h3>
        <p>
            Là dạng câu hỏi sở hữu các câu trả lời sai thứ tự và yêu cầu người dùng sắp xếp chính xác thứ tự các câu trả lời theo thứ tự từ trên xuống.
            Dùng chuột kéo thả để di chuyển các câu trả lời để có được đáp án chính xác.
        </p>
    </div>
    <div class="col-7">
        <img class="sorted_quiz" src="~/Content/images/sorted_quiz.gif" alt="">
    </div>
</div>

<!--Intro 3-->
<div class="intro row">
    <div class="col-5">
        <div>
            <i class="fa fa-arrows-alt fa-4x" aria-hidden="true"></i>
        </div>
        <h3>Dạng câu hỏi điền vào ô trống</h3>
        <p>
            Là dạng câu hỏi có các khoảng trống dẫn đến mất ý nghĩa của đoạn văn hoặc câu, yêu cầu người dùng tìm câu trả lời thích hợp chèn vào khoảng trống để có đáp án chính xác.
            Dùng chuột kéo thả các câu trả lời vào ô đáp án trống ở bên phải, mỗi ô trống chỉ nhận 1 câu trả lời,
            kéo thả câu trả lời ra khỏi ô trống để hủy chọn đáp án cũng như kéo thả một câu trả lời khác để đổi đáp án chọn.
        </p>
    </div>
    <div class="col-7">
        <img src="~/Content/images/fill_in_blank_quiz.gif" class="fill_in_blank_quiz" alt="">
    </div>
</div>
