
@{
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
<div class="banner row">
    <div class="col-8">
        <h1 style="color: black;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Proin tempus gravida malesuada
        </h1>
        <p style="font-size: 20px;">
            In iaculis, odio eget semper scelerisque, sem magna malesuada sem
            , in blandit nisl tortor sodales nulla. Morbi sit amet purus eget
            augue lacinia facilisis. Sed tristique porta dui, sed venenatis massa feugiat vel.
            Mauris posuere est sit amet urna aliquam, in dignissim tortor rhoncus. Cras bibendum
            id nisi non vulputate.
        </p>
        <div class="row justify-content-center">
            <div class="col-4">
                <button onclick="location.href = '@Url.Action("Index", "QuizCategory")'"
                        type="button" class="btn btn-primary btn-lg">
                    Bắt đầu thi
                </button>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="row justify-content-center">
            <div class="col-4">
                <img class="logo" src="~/Content/images/logo.png" alt="" width="150px" height="150px">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12" style="text-align: center;">
                <h5 class="website-name">HUFLIT QUIZ</h5>
            </div>
        </div>
    </div>
</div>

<!--Intro 1-->
<div class="intro row">
    <div class="col-5">
        <div>
            <i class="fa fa-terminal fa-3x" aria-hidden="true"></i>
        </div>
        <h3>Đa dạng các lĩnh vực thi</h3>
        <p>
            In iaculis, odio eget semper scelerisque, sem magna malesuada sem
            , in blandit nisl tortor sodales nulla. Morbi sit amet purus eget
            augue lacinia facilisis. Sed tristique porta dui, sed venenatis massa feugiat vel.
            Mauris posuere est sit amet urna aliquam, in dignissim tortor rhoncus. Cras bibendum
            id nisi non vulputate.
        </p>
    </div>
    <div class="col-7">
        <img src="~/Content/images/quiz_category.png" alt="">
    </div>
</div>

<!--Intro 2-->
<div class="intro row">
    <div class="col-5">
        <div>
            <i class="fa fa-sort fa-4x" aria-hidden="true"></i>
        </div>
        <h3>Dạng câu hỏi sắp xếp</h3>
        <p>
            In iaculis, odio eget semper scelerisque, sem magna malesuada sem ,
            in blandit nisl tortor sodales nulla. Morbi sit amet purus eget augue
            lacinia facilisis. Sed tristique porta dui, sed venenatis massa feugiat
            vel. Mauris posuere est sit amet urna aliquam, in dignissim tortor rhoncus.
            Cras bibendum id nisi non vulputate.
        </p>
    </div>
    <div class="col-7">
        <img class="sorted_quiz" src="~/Content/images/sorted_quiz.gif" alt="">
    </div>
</div>

<!--Intro 3-->
<div class="intro row">
    <div class="col-5">
        <div>
            <i class="fa fa-arrows-alt fa-4x" aria-hidden="true"></i>
        </div>
        <h3>Dạng câu hỏi điền vào ô trống</h3>
        <p>
            In iaculis, odio eget semper scelerisque, sem magna malesuada sem ,
            in blandit nisl tortor sodales nulla. Morbi sit amet purus eget augue
            lacinia facilisis. Sed tristique porta dui, sed venenatis massa feugiat
            vel. Mauris posuere est sit amet urna aliquam, in dignissim tortor rhoncus.
            Cras bibendum id nisi non vulputate.
        </p>
    </div>
    <div class="col-7">
        <img src="~/Content/images/fill_in_blank_quiz.gif" class="fill_in_blank_quiz" alt="">
    </div>
</div>
