@model DoAn_WebNangCao.Models.Quiz

@{ 
    var list_correct_answers = Model.Cau_hoi.DAPANs.OrderBy(p => p.ThuTu);
    var list_user_answer_ids = Model.Id_dap_an_chons;
    string class_name = "";
    string mark_container = "";

    int quiz_idx = Model.Quiz_idx;
    string quiz_title = Model.Cau_hoi.NoiDung;
}

<div class="row quiz-container">
    <div class="col-8 offset-2">

        <!--Quiz title-->
        <div class="quiz-title-container">
            <span class="quiz-title">
                Câu @(quiz_idx + 1): @quiz_title
            </span>
        </div>

        <!--Answers-->
        <div class="row" style="margin-top: 20px">
            <div class="col-6 correct-answer">
                <p style="color:black; font-weight: bold">Đáp án đúng</p>
                <ul class="sorted_quiz">
                    @foreach (var crt_answer in list_correct_answers)
                    {
                        <li class="radiocontainer">@crt_answer.NoiDung</li>
                    }
                </ul>
            </div>
            <div class="col-6">
                <p style="color: black; font-weight: bold">Đáp án của bạn</p>
                <ul class="sorted_quiz">
                    @for (int idx = 0; idx < Model.Id_dap_an_chons.Count; idx++)
                    {
                        int answer_id = Model.Id_dap_an_chons[idx];
                        bool answer_result = Model.Ket_quas[idx];
                        var answer = Model.Cau_hoi.DAPANs.FirstOrDefault(p => p.IDDapAn == answer_id);
                        string answer_content = answer.NoiDung;
                        if (answer_result)
                        {
                            class_name = "radiocontainer correct selected";
                            mark_container = "<div class='markcontainer'><i class='fa fa-check'></i></div>";
                        }
                        else
                        {
                            class_name = "radiocontainer wrong";
                            mark_container = "<div class='markcontainer'><i class='fa fa-times'></i></div>";
                        }
                        <li class="@class_name">
                            @Html.Raw(mark_container)
                            @answer_content
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
