@model DoAn_WebNangCao.Models.Quiz

@{
    string noi_dung_cau_hoi = Model.Cau_hoi.NoiDung;
    int id_cau_hoi = Model.Cau_hoi.IDCauHoi;
    var id_loai_cau_hoi = Model.Cau_hoi.IDLoaiCauHoi;
    var quiz_type_id = Model.Quiz_idx;
}

<div class="row">
    <div class="col-12 quiz-title-container">
        <span class="quiz-title">@noi_dung_cau_hoi</span>
    </div>
</div>
<div class="row">
    @using (Html.BeginForm("Go", "Sorted_Quiz"))
    {
        <ul id="sortable" class="connectedSortable">
        @foreach (var dap_an in Model.Cau_hoi.DAPANs)
        {
            <li class="ui-state-default" id=@dap_an.IDDapAn>@dap_an.NoiDung</li>
        }
        </ul>
        <input type="hidden" name="raw_answer" id="user_choice_order" />
        <input type="hidden" name="quiz_idx" value="@quiz_type_id" />
        <input type="submit" value="Pre" name="type" />
        <input type="submit" value="Done" name="type" />
        <input type="submit" value="Next" name="type" />
    }
</div>

