@model DoAn_WebNangCao.Models.Quiz

@{
    string noi_dung_cau_hoi = Model.Cau_hoi.NoiDung;
    int id_cau_hoi = Model.Cau_hoi.IDCauHoi;
    var id_loai_cau_hoi = Model.Cau_hoi.IDLoaiCauHoi;
    var quiz_idx = Model.Quiz_idx;
    var dap_ans = Model.Random_dapans;
}

<!--Quiz title-->
<div class="quiz-title-container">
    <span class="quiz-title">
        Câu @(quiz_idx + 1): @noi_dung_cau_hoi
    </span>
</div>

<table class="table-quiz">
    <tr>
        <th>
            <ul id="sortable" class="connectedSortable">
                <!--Render answer based on the old answer-->
                @if (Model.Id_dap_an_chons.Count > 0)
                {
                    foreach (int selected_answer_id in Model.Id_dap_an_chons)
                    {
                        var dap_an = dap_ans.FirstOrDefault(p => p.IDDapAn == selected_answer_id);
                        <li class="ui-state-default" id=@dap_an.IDDapAn>@dap_an.NoiDung</li>
                    }
                }
                else
                {
                    foreach (var dap_an in dap_ans)
                    {
                        <li class="ui-state-default" id=@dap_an.IDDapAn>@dap_an.NoiDung</li>
                    }
                }
            </ul>
        </th>
    </tr>

</table>
<input type="hidden" name="raw_answer" id="user_choice_order" />
<input type="hidden" name="quiz_idx" value="@quiz_idx" />


