.radiocontainer {
    position: relative;
    padding: 10px 10px 10px 40px;
    margin-bottom: 1px;
    background-color: #f1f1f1;
    font-size: 18px;
    height: 47px;
}

.radiocontainer.wrong {
    background-color: #f8d7da;
}

.radiocontainer.correct {
    background-color: #ddd;
}

.radiocontainer.correct.selected {
    background-color: #d4edda;
}

.markcontainer {
    position: absolute;
    left: 15px;
}

i.fa-times {
    color: red;
}

i.fa-check {
    color: green;
}

.answercomment {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    white-space: nowrap;
    position: absolute;
    right: 10px;
    top: 10px;
}

.quiz-title {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.navbar-brand {
    margin-right: 0px;
}

.website-name {
    font-family: 'Nunito', sans-serif;
    color: #6e717a;
    font-weight: 700;
}

.quiz-container {
    margin-top: 20px;
}

th {
    width: 900px;
}
