@model IEnumerable<DoAn_WebNangCao.Models.LINHVUC>

@{
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<!--Description-->
<div class="row text-header">
    <div class="col">
        <h1 class="website-name">HUFLIT Quiz</h1>
        <hr>
        <h2>Chọn lĩnh vực</h2>
        <p>
            Mỗi lĩnh vực bao gồm 25-40 câu hỏi,
            ban sẽ được 1 điểm cho mỗi câu trả lời đúng.
        </p>
        <p>
            Sau khi hoàn tất bài thi, bạn có thể xem lại
            tất cả câu hỏi cùng với đáp án bạn đã chọn và đáp án đúng.
        </p>
    </div>
</div>

<!--Quiz category container-->
<div class="row justify-content-center">
    <div class="col-10 quiz-category-container">
        @{ Html.RenderPartial("Render_quiz_category", Model); }
    </div>
</div>
