@model IEnumerable<DoAn_WebNangCao.Models.LINHVUC>

@foreach(var linh_vuc in Model)
{
    <div class="quiz-category">
        <div class="quizheader">
            <h4>@linh_vuc.TenLinhVuc</h4>
            <hr>
        </div>
        <div class="quizbody">
            <p>@linh_vuc.GhiChu</p>
        </div>
        <div class="quizfooter">
            @Html.ActionLink("Start Quiz",
                "CreateExam",
                "Test",
                new { idLinhVuc = linh_vuc.IDLinhVuc },
                new { @class = "w3-btn w3-round ws-blue" })
        </div>
    </div>
}